/*=================================
=            Variables            =
=================================*/

$basic_blue: #03A9F4;
$basic_green: #4CAF50;
$basic_white: #FAFAFA;
$basic_black: #212121;
$disabled_color: lighten($basic_black, 30%);
