@import "compass";
@import "variables";

/*==========  Fonts  ==========*/

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*===========================================
=            Usinacraft Launcher            =
===========================================*/

body {
	background: $basic_blue;
	height: 100%;
	font-family: 'Roboto';
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: $basic_blue;
}

#main-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	min-height: 100%;
	background-image:url('images/background.png');
	background-size: 100%;
	background-position: 0 80px;
	background-repeat: no-repeat;
}

#header {
	background: darken($basic_blue, 10%);
	width: 100%;
	height: 80px;
	margin-bottom: 25px;
	border-bottom: 2px solid lighten($basic_black, 9%);
	@include box-shadow(0 2px 8px lighten($basic_black, 10%));
	#main-logo {
		display: inline-block;
		float: left;
		margin: 10px;
		max-height: 80%;
	}
	#main-title {
		float: left;
		margin-top: 18px;
		margin-left: 15px;
		color: $basic_white;
	}
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid lighten($basic_black, 9%);
	background: darken($basic_blue, 10%);
	height: 60px;
	.social-links {
		margin: 5px 60px;
		padding: 0;
		a {
			color: $basic_white;
			text-decoration: none;
			font-size: 2em;
			@include transition(color 250ms);
			&:hover {
				color: darken($basic_white, 16%);
				@include transition(color 250ms);
			}
		}
	}
}

/*=============================
=            Panel            =
=============================*/

#content {
	min-height: 100%;
}

/*=====================================
=            Basic classes            =
=====================================*/

.basic-panel {
	background: rgba(50,50,50,0.85);
	padding: 10px 20px;
	width: 83%;
	margin: 20px auto;
	min-height: 100%;
	@include clearfix;
	@include box-shadow(0 0 10px lighten($basic_black, 12%));
	* {
		color: $basic_white;
	}
}

.basic-label {
	display: inline-block;
	margin: 0 10px;
}

.basic-select {
	color: black;
	padding: 7px 10px;
	outline: none;
	border: 2px solid lighten($basic_blue, 8%);
	@include border-radius(2px);
	option {
		color: black;
	}
	&:disabled {
		background: $disabled_color;
		color: $basic_white;
		border-color: darken($disabled_color, 10%);
	}
	&.error-state {
		border-color: $basic_dark_red;
		&:hover {
			border-color: lighten($basic_dark_red, 7%);
		}
	}
}

.basic-button {
	display: inline-block;
	background: $basic_blue;
	color: $basic_white;
	font-weight: bold;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	position: relative;
	@include box-shadow(0 1px 5px lighten($basic_black, 10%));
	@include transition(background 250ms, box-shadow 250ms);
	@include border-radius(2px);
	&:hover {
		background: darken($basic_blue, 6%);
		@include transition(background 300ms, box-shadow 250ms);
		span.tooltip {
			visibility: visible;
			opacity: 0.85;
			bottom: 40px;
			left: 0;
			z-index: 999;
			margin-left: -7px;
		}
	}
	&:focus {
		outline: none;
	}
	&:active {
		background: darken($basic_blue, 8%);
		outline: none;
		@include transition(background 100ms, box-shadow 250ms);
		@include box-shadow(0 3px 12px lighten($basic_black, 10%));
	}
	&:disabled {
		background: $disabled_color;
		cursor: default;
	}
	&.error-state {
		background-color: $basic_dark_red;
		@include transition(background 250ms, box-shadow 250ms);
		@include box-shadow(0 3px 12px darken($basic_dark_red, 15%));
		span.tooltip {
			background-color: $basic_dark_red;
			&:after {
				border-top: 8px solid $basic_dark_red;
			}
		}
		&:hover {
			background-color: lighten($basic_dark_red, 7%);
		}
	}
	span.tooltip {
		position: absolute;
		width: 100%;
		padding: 10px 7px;
		color: $basic_white;
		background: $basic_blue;
		height: auto;
		text-align: center;
		visibility: hidden;
		word-break: break-all;
		@include border-radius(4px);
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -8px;
			width: 0; height: 0;
			border-top: 8px solid $basic_blue;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
		}
	}
}

.basic-checkbox-group {
    position:relative;
    display: inline-block;
    margin: 0 5px;
    input[type=checkbox] {
	    display:none;
	    &:checked ~ label .box {
		    background: $basic_blue;
		}
		&:checked ~ label .check {
		    opacity:1;
		    @include transform(scale(1) rotate(45deg));
		}
		&:disabled ~ label .box {
			background: $disabled_color
		}
	}
	label {
	    padding-left:30px;
	    cursor:pointer;
	    span {
		    display:block;
		    position:absolute;
		    left:0;
		    @include transition-duration(300ms);
		}
		.box {
		    background:#d9e1e7;
		    height:22px;
		    width:22px;
		    z-index:9;
		    @include border-radius(3px);
		    @include transition-delay(200ms);
		}
		.check {
		    top:0;
		    left:7px;
		    width:7px;
		    height:15px;
		    border:2px solid $basic_white;
		    border-top:none;
		    border-left:none;
		    opacity:0;
		    z-index:10;
		    @include transform(rotate(180deg));
			@include transition-delay(300ms);
		}
	}
}

.row {
	width: 100%;
	margin: 15px auto;
	display: block;
}

.min-row {
	@extend .row;
	width: 95% !important;
}

/*===================================
=            Loading bar            =
===================================*/

.loadbar {
	width: 95%;
	margin: 5px auto;
	background: $basic_black;
	height: 5px;
	position: relative;
	@include border-radius(10px);
	.loader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 5px;
		width: 0px;
		z-index: 10;
		background: $basic_green;
		@include border-radius(10px);
	}
}

.loadbar-info {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 0.65em;
	font-style: italic;
	min-height: 14px;
	a {
		color: $basic_blue !important;
	}
}

#download-percent {
	background: $basic_blue;
	padding: 2px 7px;
	font-size: 1.4em;
	color: $basic_white;
	float: right;
	margin-right: 2.5%;
	@include border-radius(4px);
	@include box-shadow(0 0 7px rgba($basic_blue, 0.7));
	@include transition(background 200ms, box-shadow 200ms);
	&:after {
		content: '%';
	}
	&.idle {
		background: $disabled_color;
		@include box-shadow(0 0 7px rgba($disabled_color, 0.7));
		@include transition(background 200ms, box-shadow 200ms);
	}
}

/*==============================
=            Labels            =
==============================*/

.label-error {
	color: $basic_red !important;
}

.label-warning {
	color: $basic_orange !important;
}

/*=============================
=            Login            =
=============================*/

.login {
	.basic-checkbox {
		margin-left: 10px;
		display: inline-block;
	}
}