
.icon-ok:before { content: '\e800'; } /* '' */
.icon-ok-circled:before { content: '\e801'; } /* '' */
.icon-ok-circled2:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-check-empty:before { content: '\e804'; } /* '' */
.icon-ok-1:before { content: '\e805'; } /* '' */
.icon-bug:before { content: '\e806'; } /* '' */
.icon-toggle-on:before { content: '\e807'; } /* '' */
.icon-toggle-off:before { content: '\e808'; } /* '' */
.icon-folder:before { content: '\e809'; } /* '' */
.icon-help:before { content: '\e80a'; } /* '' */
.icon-help-circled:before { content: '\e80b'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e80f'; } /* '' */
.icon-minus-squared:before { content: '\e810'; } /* '' */
.icon-plus-squared:before { content: '\e811'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-lock-open:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-cog-outline:before { content: '\e815'; } /* '' */
.icon-wrench-outline:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e818'; } /* '' */
.icon-cw-outline:before { content: '\e819'; } /* '' */
.icon-cw:before { content: '\e81a'; } /* '' */
.icon-arrows-cw:before { content: '\e81b'; } /* '' */
.icon-loop-outline:before { content: '\e81c'; } /* '' */
.icon-loop:before { content: '\e81d'; } /* '' */
.icon-loop-alt-outline:before { content: '\e81e'; } /* '' */
.icon-loop-alt:before { content: '\e81f'; } /* '' */
.icon-twitter:before { content: '\e820'; } /* '' */
.icon-facebook:before { content: '\e821'; } /* '' */
.icon-facebook-circled:before { content: '\e822'; } /* '' */
.icon-twitter-circled:before { content: '\e823'; } /* '' */