/*=================================
=            Variables            =
=================================*/
/*==========  Fonts  ==========*/
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto-regular-webfont.eot");
  src: url("fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto-regular-webfont.woff") format("woff"), url("fonts/roboto-regular-webfont.ttf") format("truetype"), url("fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*===========================================
=            Usinacraft Launcher            =
===========================================*/
/* line 23, ../scss/style.scss */
body {
  background: #03A9F4;
  height: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 32, ../scss/style.scss */
a, a:visited {
  color: #03A9F4;
}

/* line 36, ../scss/style.scss */
#main-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  min-height: 100%;
  background-image: url("images/background.png");
  background-size: 100%;
  background-position: 0 80px;
  background-repeat: no-repeat;
}

/* line 51, ../scss/style.scss */
#header {
  background: #0286c2;
  width: 100%;
  height: 80px;
  margin-bottom: 25px;
  border-bottom: 2px solid #383838;
  -moz-box-shadow: 0 2px 8px #3b3b3b;
  -webkit-box-shadow: 0 2px 8px #3b3b3b;
  box-shadow: 0 2px 8px #3b3b3b;
}
/* line 58, ../scss/style.scss */
#header #main-logo {
  display: inline-block;
  float: left;
  margin: 10px;
  max-height: 80%;
}
/* line 64, ../scss/style.scss */
#header #main-title {
  float: left;
  margin-top: 18px;
  margin-left: 15px;
  color: #FAFAFA;
}

/* line 72, ../scss/style.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #383838;
  background: #0286c2;
  height: 60px;
}
/* line 80, ../scss/style.scss */
#footer .social-links {
  margin: 5px 60px;
  padding: 0;
}
/* line 83, ../scss/style.scss */
#footer .social-links a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 2em;
  -moz-transition: color 250ms;
  -o-transition: color 250ms;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
/* line 88, ../scss/style.scss */
#footer .social-links a:hover {
  color: #d1d1d1;
  -moz-transition: color 250ms;
  -o-transition: color 250ms;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

/*=============================
=            Panel            =
=============================*/
/* line 100, ../scss/style.scss */
#content {
  min-height: 100%;
}

/*=====================================
=            Basic classes            =
=====================================*/
/* line 108, ../scss/style.scss */
.basic-panel {
  background: rgba(50, 50, 50, 0.85);
  padding: 10px 20px;
  width: 83%;
  margin: 20px auto;
  min-height: 100%;
  overflow: hidden;
  *zoom: 1;
  -moz-box-shadow: 0 0 10px #404040;
  -webkit-box-shadow: 0 0 10px #404040;
  box-shadow: 0 0 10px #404040;
}
/* line 116, ../scss/style.scss */
.basic-panel * {
  color: #FAFAFA;
}

/* line 121, ../scss/style.scss */
.basic-label {
  display: inline-block;
  margin: 0 10px;
}

/* line 126, ../scss/style.scss */
.basic-select {
  color: black;
  padding: 7px 10px;
  outline: none;
  border: 2px solid #23b9fc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 132, ../scss/style.scss */
.basic-select option {
  color: black;
}
/* line 135, ../scss/style.scss */
.basic-select:disabled {
  background: #6e6e6e;
  color: #FAFAFA;
  border-color: #545454;
}
/* line 140, ../scss/style.scss */
.basic-select.error-state {
  border-color: #B71C1C;
}
/* line 142, ../scss/style.scss */
.basic-select.error-state:hover {
  border-color: #d62121;
}

/* line 148, ../scss/style.scss */
.basic-button {
  display: inline-block;
  background: #03A9F4;
  color: #FAFAFA;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  position: relative;
  -moz-box-shadow: 0 1px 5px #3b3b3b;
  -webkit-box-shadow: 0 1px 5px #3b3b3b;
  box-shadow: 0 1px 5px #3b3b3b;
  -moz-transition: background 250ms, box-shadow 250ms;
  -o-transition: background 250ms, box-shadow 250ms;
  -webkit-transition: background 250ms, box-shadow 250ms;
  transition: background 250ms, box-shadow 250ms;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 160, ../scss/style.scss */
.basic-button:hover {
  background: #0394d6;
  -moz-transition: background 300ms, box-shadow 250ms;
  -o-transition: background 300ms, box-shadow 250ms;
  -webkit-transition: background 300ms, box-shadow 250ms;
  transition: background 300ms, box-shadow 250ms;
}
/* line 163, ../scss/style.scss */
.basic-button:hover span.tooltip {
  visibility: visible;
  opacity: 0.85;
  bottom: 40px;
  left: 0;
  z-index: 999;
  margin-left: -7px;
}
/* line 172, ../scss/style.scss */
.basic-button:focus {
  outline: none;
}
/* line 175, ../scss/style.scss */
.basic-button:active {
  background: #038dcc;
  outline: none;
  -moz-transition: background 100ms, box-shadow 250ms;
  -o-transition: background 100ms, box-shadow 250ms;
  -webkit-transition: background 100ms, box-shadow 250ms;
  transition: background 100ms, box-shadow 250ms;
  -moz-box-shadow: 0 3px 12px #3b3b3b;
  -webkit-box-shadow: 0 3px 12px #3b3b3b;
  box-shadow: 0 3px 12px #3b3b3b;
}
/* line 181, ../scss/style.scss */
.basic-button:disabled {
  background: #6e6e6e;
  cursor: default;
}
/* line 185, ../scss/style.scss */
.basic-button.error-state {
  background-color: #B71C1C;
  -moz-transition: background 250ms, box-shadow 250ms;
  -o-transition: background 250ms, box-shadow 250ms;
  -webkit-transition: background 250ms, box-shadow 250ms;
  transition: background 250ms, box-shadow 250ms;
  -moz-box-shadow: 0 3px 12px #751212;
  -webkit-box-shadow: 0 3px 12px #751212;
  box-shadow: 0 3px 12px #751212;
}
/* line 189, ../scss/style.scss */
.basic-button.error-state span.tooltip {
  background-color: #B71C1C;
}
/* line 191, ../scss/style.scss */
.basic-button.error-state span.tooltip:after {
  border-top: 8px solid #B71C1C;
}
/* line 195, ../scss/style.scss */
.basic-button.error-state:hover {
  background-color: #d62121;
}
/* line 199, ../scss/style.scss */
.basic-button span.tooltip {
  position: absolute;
  width: 100%;
  padding: 10px 7px;
  color: #FAFAFA;
  background: #03A9F4;
  height: auto;
  text-align: center;
  visibility: hidden;
  word-break: break-all;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 210, ../scss/style.scss */
.basic-button span.tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #03A9F4;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* line 224, ../scss/style.scss */
.basic-checkbox-group {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
/* line 228, ../scss/style.scss */
.basic-checkbox-group input[type=checkbox] {
  display: none;
}
/* line 230, ../scss/style.scss */
.basic-checkbox-group input[type=checkbox]:checked ~ label .box {
  background: #03A9F4;
}
/* line 233, ../scss/style.scss */
.basic-checkbox-group input[type=checkbox]:checked ~ label .check {
  opacity: 1;
  -moz-transform: scale(1) rotate(45deg);
  -ms-transform: scale(1) rotate(45deg);
  -webkit-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}
/* line 237, ../scss/style.scss */
.basic-checkbox-group input[type=checkbox]:disabled ~ label .box {
  background: #6e6e6e;
}
/* line 241, ../scss/style.scss */
.basic-checkbox-group label {
  padding-left: 30px;
  cursor: pointer;
}
/* line 244, ../scss/style.scss */
.basic-checkbox-group label span {
  display: block;
  position: absolute;
  left: 0;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 250, ../scss/style.scss */
.basic-checkbox-group label .box {
  background: #d9e1e7;
  height: 22px;
  width: 22px;
  z-index: 9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
/* line 258, ../scss/style.scss */
.basic-checkbox-group label .check {
  top: 0;
  left: 7px;
  width: 7px;
  height: 15px;
  border: 2px solid #FAFAFA;
  border-top: none;
  border-left: none;
  opacity: 0;
  z-index: 10;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

/* line 274, ../scss/style.scss */
.row, .min-row {
  width: 100%;
  margin: 15px auto;
  display: block;
}

/* line 280, ../scss/style.scss */
.min-row {
  width: 95% !important;
}

/*===================================
=            Loading bar            =
===================================*/
/* line 289, ../scss/style.scss */
.loadbar {
  width: 95%;
  margin: 5px auto;
  background: #212121;
  height: 5px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 296, ../scss/style.scss */
.loadbar .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  width: 0px;
  z-index: 10;
  background: #4CAF50;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 309, ../scss/style.scss */
.loadbar-info {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.65em;
  font-style: italic;
  min-height: 14px;
}
/* line 316, ../scss/style.scss */
.loadbar-info a {
  color: #03A9F4 !important;
}

/* line 321, ../scss/style.scss */
#download-percent {
  background: #03A9F4;
  padding: 2px 7px;
  font-size: 1.4em;
  color: #FAFAFA;
  float: right;
  margin-right: 2.5%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 7px rgba(3, 169, 244, 0.7);
  -webkit-box-shadow: 0 0 7px rgba(3, 169, 244, 0.7);
  box-shadow: 0 0 7px rgba(3, 169, 244, 0.7);
  -moz-transition: background 200ms, box-shadow 200ms;
  -o-transition: background 200ms, box-shadow 200ms;
  -webkit-transition: background 200ms, box-shadow 200ms;
  transition: background 200ms, box-shadow 200ms;
}
/* line 331, ../scss/style.scss */
#download-percent:after {
  content: '%';
}
/* line 334, ../scss/style.scss */
#download-percent.idle {
  background: #6e6e6e;
  -moz-box-shadow: 0 0 7px rgba(110, 110, 110, 0.7);
  -webkit-box-shadow: 0 0 7px rgba(110, 110, 110, 0.7);
  box-shadow: 0 0 7px rgba(110, 110, 110, 0.7);
  -moz-transition: background 200ms, box-shadow 200ms;
  -o-transition: background 200ms, box-shadow 200ms;
  -webkit-transition: background 200ms, box-shadow 200ms;
  transition: background 200ms, box-shadow 200ms;
}

/*==============================
=            Labels            =
==============================*/
/* line 345, ../scss/style.scss */
.label-error {
  color: #F44336 !important;
}

/* line 349, ../scss/style.scss */
.label-warning {
  color: #F79750 !important;
}

/*=============================
=            Login            =
=============================*/
/* line 358, ../scss/style.scss */
.login .basic-checkbox {
  margin-left: 10px;
  display: inline-block;
}
